@page "/weather"
@attribute [StreamRendering(true)]
@attribute [OutputCache(Duration = 5)]

@inject WeatherApiClient WeatherApi

<PageTitle>@AppResources.WeatherPageTitle</PageTitle>

<h1>@AppResources.WeatherPageTitle</h1>

<p>@AppResources.WeatherDescription</p>

@if (forecasts == null)
{
    <p><em>@AppResources.Loading</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>@AppResources.Date</th>
                <th aria-label="@AppResources.TempCAria">@AppResources.TempC</th>
                <th aria-label="@AppResources.TempFAria">@AppResources.TempF</th>
                <th>@AppResources.Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts)
            {
                <tr>
                    <td>@forecast.Date.ToShortDateString()</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.Summary</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private WeatherForecast[]? forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await WeatherApi.GetWeatherAsync();
    }
}
